**/.DS_Store
depth_images
depth_images/*
depth_images/
.DS_Store
./.DS_Store
*.DS_Store
*/.DS_Store
.DS_Store
Project_Files/.DS_Store
stereoDepth/*
stereoDepth
stereoDepth/
./stereoDepth
labels/*
yolo_labels/*
.DS_Store
Project_Files/.DS_Store
.DS_Store
000008_left.png
000008_right.png
000008.txt
Disparity_map_gui.py
.DS_Store
__pycache__/
.DS_Store
Project_Files/depth_output_2/training/000000_depth.png
Project_Files/depth_output_2/training/000000_disparity.png
Project_Files/depth_output_2/training/000001_depth.png
Project_Files/depth_output_2/training/000001_disparity.png
Project_Files/depth_output_2/training/000002_depth.png
Project_Files/depth_output_2/training/000002_disparity.png
Project_Files/depth_output_2/training/000003_depth.png
Project_Files/depth_output_2/training/000003_disparity.png
Project_Files/depth_output_2/training/000792_depth.png
Project_Files/depth_output_2/training/000792_disparity.png
Project_Files/.DS_Store
.DS_Store
