**/.DS_Store
depth_images
depth_images/*
depth_images/
.DS_Store
./.DS_Store
*.DS_Store
*/.DS_Store
.DS_Store
Project_Files/.DS_Store
stereoDepth/*
stereoDepth
stereoDepth/
./stereoDepth
labels/*
yolo_labels/*
.DS_Store
Project_Files/.DS_Store
.DS_Store
000008_left.png
000008_right.png
000008.txt
.DS_Store
__pycache__/
.DS_Store
Project_Files/depth_output_2/*
Project_Files/.DS_Store
.DS_Store
Disparity_map_gui.py
depthmap_test.py
