**/.DS_Store
depth_images
depth_images/*
depth_images/
.DS_Store
./.DS_Store
*.DS_Store
*/.DS_Store
.DS_Store
Project_Files/.DS_Store
stereoDepth/*
stereoDepth
stereoDepth/
./stereoDepth
labels/*
yolo_labels/*
.DS_Store
Project_Files/.DS_Store
.DS_Store
000008_left.png
000008_right.png
000008.txt
.DS_Store
__pycache__/
.DS_Store
Project_Files/depth_output_2/*
Project_Files/.DS_Store
.DS_Store
Disparity_map_gui.py
depthmap_test.py
depth_image_experiments.ipynb
depth_image_converter_final.py
Project_Files/May_29/000000___.png
Project_Files/May_29/000000_colored.png
Project_Files/May_29/000000_depth_Konstantinos.png
Project_Files/May_29/000001___.png
Project_Files/May_29/000001_colored.png
Project_Files/May_29/000001_depth_Konstantinos.png
Project_Files/May_29/000002___.png
Project_Files/May_29/000002_colored.png
Project_Files/May_29/000002_depth_Konstantinos.png
Project_Files/May_29/000003___.png
Project_Files/May_29/000003_colored.png
Project_Files/May_29/000003_depth_Konstantinos.png
Project_Files/May_29/000792___.png
Project_Files/May_29/000792_colored.png
Project_Files/May_29/000792_depth_Konstantinos.png
Project_Files/depth/May_29/000001.png
Project_Files/colored/May_29/000000.png
Project_Files/colored/May_29/000001.png
Project_Files/colored/May_29/000002.png
Project_Files/colored/May_29/000003.png
Project_Files/colored/May_29/000792.png
Project_Files/colored/May_29/007011.png
Project_Files/colored/May_29/007013.png
Project_Files/colored/May_29/007474.png
Project_Files/depth/May_29/000000.png
Project_Files/depth/May_29/000001.png
Project_Files/depth/May_29/000002.png
Project_Files/depth/May_29/000003.png
Project_Files/depth/May_29/000792.png
Project_Files/depth/May_29/007011.png
Project_Files/depth/May_29/007013.png
Project_Files/depth/May_29/007474.png
Project_Files/disparity/May_29/000000.png
Project_Files/disparity/May_29/000001.png
Project_Files/disparity/May_29/000002.png
Project_Files/disparity/May_29/000003.png
Project_Files/disparity/May_29/000792.png
Project_Files/disparity/May_29/007011.png
Project_Files/disparity/May_29/007013.png
Project_Files/disparity/May_29/007474.png
